# Name: - L Prathyusha

## Arthematic Operations

## Tenary operators

In [4]:
a,b=10,20

In [5]:
x=30 if a<b else 40

In [6]:
print(x)

30

In [8]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
min=a if a<b else b
print("minimum value:", min)

enter first number:11
enter second number:22
minimum value: 11

program for minimum 3 numbers

In [10]:
a=int(input("enter first number"))
b=int(input("enter second number"))
c=int(input("enter third number"))
min=a if a<b and a<c else b if b<c else c
print("minimum value:",min)

enter first number22
enter second number33
enter third number44
minimum value: 22

In [11]:
a=10
b=10
print(a is b)

True

In [12]:
x=True
y=True
print(x is y)

True

## special operators

In [13]:
a=10
b=10
print(a is b)

True

In [14]:
x=True
y=True
print(x is y)

True

In [15]:
a="durga"
b="durga"
print(id(a))
print(id(b))
print(a is b)

2162486317936
2162486317936
True

## Membership operators

In [16]:
x="hello learning python is very easy!"

In [17]:
print('h'in x)

True

In [18]:
print('d' in x)

False

In [19]:
print('d' not in x)

True

In [20]:
print('python' in x)

True

## Operator Precedence

In [21]:
print(3+10*2)

23

In [22]:
print(22/3+4*3)

19.333333333333332